*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pokemon-image{
    padding: 10px;
    transition: transform .3s ease;
}
.pokemon-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15) !important;
}
.pokemon-card img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.pokemon-card img:hover {
    transform: scale(1.1);
}
.type-badge{
    color: white;
    font-weight: bold;
    padding: 0.35rem 0.65rem;
    margin: 2px;
    font-size: 0.85rem;
    min-width: 60px;
    text-align: center;
}
#content-list{
    list-style-type: none;
}
.bg-normal{
    background-color: #A8A77A;
}
.bg-fire{
    background-color: #EE8130;
}
.bg-water{
    background-color: #6390F0;
}
.bg-electric{
    background-color: #F7D02C;
}
.bg-grass{
    background-color: #7AC74C;
}
.bg-ice{
    background-color: #96D9D6;
}
.bg-fighting{
    background-color: #C22E28;
}
.bg-poison{
    background-color: #A33EA1;
}
.bg-ground{
    background-color: #E2BF65;
}
.bg-flying{
    background-color: #A98FF3;
}
.bg-psychic{
    background-color: #F95587;
}
.bg-bug{
    background-color: #A6B91A;
}
.bg-rock{
    background-color: #b6A136;
}
.bg-ghost{
    background-color: #735797;
}
.bg-dragon{
    background-color: #6F35FC;
}
.bg-steel{
    background-color: #B7B7CE;
}
.bg-dark{
    background-color: #705746 !important;
}
.bg-fairy{
    background-color: #D685AD;
}
/*Read Pokemon Div Checkbox*/
.check-box{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
.check-input{
    vertical-align: middle;
    transform: translateY(2px);
}